#pyaudio
# altair
# pygame
# streamlit
# SpeechRecognition
# gTTS
# langchain
# langchain-community
# langchain-core
# langchain-objectbox
# langchain-openai
# langchain-text-splitters
# openai
# python-dotenv
# pypdf
# langchainhub

sounddevice
soundfile
altair
pygame
streamlit
streamlit-webrtc
SpeechRecognition
gtts
langchain
langchain-community
langchain-core
langchain-objectbox
langchain_openai
langchain-text-splitters
openai
python-dotenv
pypdf
langchainhub